<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%- status %> - <%- title %></title>
	</head>
	<body>
		<% include header %>

		<section>
			<%- status %> <%- message %>
			<pre><code>
<%- stack %>
			</code></pre>
		</section>
	</body>
</html>

